# ORIGINALS
#
_originals
stats

# FAVICONS
#
assets/images/favicons/**

# SASS
#
.sass-cache
*.css.map

# BOWER
#
bower_components

# ADOBE
#
*.ai
*.indd
*.indt
*.idml
*.psd
*.pdf

# JEKYLL
#
_site

# NODE
#
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules

# OSX
#
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# EXCLUSIONS
!assets/images/favicons/*.src.png
!assets/images/favicons/*.src.ai
